
*{
  position: relative;
  scroll-behavior: smooth;
}

.text-bg-clip {
  background-image: url("../asset/comic.jpg");
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.tarjetasCreadasComics{
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 55px 20px 40px;
  cursor: pointer;
  
}

.tarjetasCreadasPersonajes {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px 40px;
  cursor: pointer;
}

/*
@media(max-width: 640px) {
  .cardComics {
      width: calc(100% / 3 - 2* 10px);
  }
}*/

.contenedorImg{
opacity: 200;
box-shadow: 0 0 20px #444242, 0 0 50px #f8f8fb;
flex-grow: 1;
object-fit: cover;

}

.contenedorimgPersonajes{
  width: 100%;
  height: auto;
  flex-grow: 1;
  border-bottom: 4px solid #ed1d23;
  overflow: hidden;
  box-shadow: 0 0 20px #444242, 0 0 50px #f8f8fb;
  transition: transform 0.3s;
}

.contenedorimgPersonajes:hover .imgTarjPersonaje{
  transform: scale(1.2);
}
.imgTarjPersonaje:hover{
  transform: scale(1.2);
}

.divH3Personajes{
  padding: 16px 24px 17px 20px;
  background-color: #151515;
  transition: background-color 0.4s;
}

.tarjetasCreadasPersonajes:hover .divH3Personajes{
  background-color:#ed1d23;
}

.contenedortarjPersonaje {
  display: flex;
  flex-direction: column;
  margin: 0 10px 40px;
  cursor: pointer;
}

.imgTarj{
  width: 100%;
  height: 100%;
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
  object-fit: cover;
  transition: 0.2s;
}

.tituloH3{   /*para las tarjetas de comics*/
    height: 64px;
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 1rem;
    font-weight: bolder;
}

.tituloH3Personajes{
  color: #fff;
  text-transform: uppercase; /*transformar a mayúsculas.*/
  height: 79px;
  margin-bottom: 0;
}
.contenedorImg:hover {
  transform: translateY(-20px);
  transition: 0.2s;
}

.tituloH3:hover{
  color: red;
}

.boton-desabilitado {
  pointer-events: none; /* Evita que se pueda interactuar */
}

.hidden{
  display: none;
}

.tituloH2{
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
  unicode-bidi: isolate;
}

.subtitulos{
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-weight: bold;
}

.btnPag{
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#botonVolver{
  color:#2563EB;
}
